<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test TaskOnFly</title>

    <script src="../node_modules/mocha/mocha.js" type="text/javascript" charset="utf-8"></script>
    <script src="../node_modules/chai/chai.js" type="text/javascript" charset="utf-8"></script>
    <script src="../node_modules/sinon/pkg/sinon.js" type="text/javascript" charset="utf-8"></script>

    <script src="../3rd-party/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../3rd-party/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="../3rd-party/lodash.js" type="text/javascript" charset="utf-8"></script>
    <script src="../3rd-party/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="../3rd-party/HashRouter.js" type="text/javascript" charset="utf-8"></script>

	<script src="<%= jsFolder %>/core/utils.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/FClass.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/Class.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/SingletonClass.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/AStateComponent.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/AControl.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/AView.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/StaticView.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/DynamicView.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/AState.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/EventHandler.js" type="text/javascript" charset="utf-8"></script>
	<script src="<%= jsFolder %>/core/MVCModule.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="../node_modules/mocha/mocha.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="mocha"></div>

	<script charset="utf-8">
		window.assert = chai.assert;
		window.sinon = sinon;

		mocha.setup({
			ui: 'tdd',
			bail: false
		});

		requirejs.config({
			baseUrl: '<%= jsFolder %>'
		});
		requirejs([
			'./core/test_utils.js',
			'./core/FClass.js',
			'./core/testClass.js',
			'./core/testSingletonClass.js',
			'./core/testAStateComponent.js',
			'./core/testAControl.js',
			'./core/testAView.js',
			'./core/StaticView.js',
			'./core/DynamicView.js',
			'./core/testAState.js',
			'./core/testMVCModule.js',
			'./core/testEventHandler.js'
		], function() {
			requirejs([
				'../js/modules/AItem/Model',
				//'../js/model/TaskOnFly',

				'./modules/AItem/testModel.js'
				//'./model/testTaskOnFly.js'
			], function() {
			//requirejs(['main'], function(){
				mocha.run();
			//});
			});
		});
	</script>
</body>
</html>
