<div data-role="header">
    <a href="#" id="prevList" data-role="button" data-icon="carat-l">Previous list</a>
    <h1>Home</h1>
</div>

<div id="content" class="ui-content">
    <div id="fastTaskModule"></div>
    <div id="listModule"></div>
</div>

<div data-role="footer" data-position="fixed">
    <table class="full">
        <tbody>
        <tr>
            <td>
                <button id="addList" class="btn-left" data-role="button" data-icon="plus">New list</button>
            </td>
            <td>
                <div id="searchModule"></div>
                <!--<input type="text" placeholder="Search...">-->
            </td>
            <td>
                <button id="addTask" class="btn-right" data-role="button" data-icon="plus" data-iconpos="right">New task</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
