<div data-role="fieldcontain">
    <table class="full task-list">
        <thead><tr><th></th><th></th></tr></thead>
        <tbody>
        <% _.each(models, function(item) { %>
        <tr data-item-id="<%= item.public.id %>">
            <th>
                <div class="list-item <%= item.public.type.toLowerCase() %> priority-<%= item.public.priority %>">
                    <input id="<%= item.public.id %>" type="checkbox" <% if (item.public.isDone) { %> checked <% } %>>
                    <label for="<%= item.public.id %>"><%= item.public.title %></label>
                </div>
            </th>
            <td>
                <div data-role="controlgroup" data-type="horizontal">
                    <button class="custom edit-btn" data-role="button" data-icon="edit" data-iconpos="notext">edit</button><button class="custom delete-btn" data-role="button" data-icon="delete" data-iconpos="notext">delete</button>
                </div>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
