<div data-role="header">
    <a href="#" data-role="back" data-icon="carat-l">Back</a>
    <h1>Task</h1>
</div>
<div data-role="content">
    <form>
        <div data-role="fieldcontain">
            <input type="checkbox" id="done" />
        </div>
        <div data-role="fieldcontain">
            <input type="text" id="title" name="title" placeholder="Title" value="<%= title %>"/>
        </div>
        <div data-role="fieldcontain">
            <fieldset id="priority" data-role="controlgroup" data-type="horizontal">
                <label for="low">Low</label>
                <input type="radio" id="low" name="priority" value="0" <% if (0 === priority) {%> checked <% } %>>
                <label for="normal">Normal</label>
                <input type="radio" id="normal" name="priority" value="1" <% if (1 === priority) {%> checked <% } %>>
                <label for="high">High</label>
                <input type="radio" id="high" name="priority" value="2" <% if (2 === priority) {%> checked <% } %>>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <textarea id="description" name="description" placeholder="Description"><%= description %></textarea>
        </div>
        <div data-role="fieldcontain">
            <a href="#" id="save" data-role="button">Save</a>
            <a href="#" id="cancel" data-role="button">Cancel</a>
        </div>
    </form>
</div>
<div data-role="footer"></div>
