table.full {
    width: 100%;
}

table.full th {
    width: 100%;
}
table.full td {
    white-space: nowrap;
}

table.task-title td:first-child {
    width: 33px;
}
table.fast-item td:last-child {
    width: 33px;
}

#priority .ui-controlgroup-controls div:nth-child(2) .ui-btn.ui-btn-active {
    background-color: #28c828;
    border-color: #28c828;
}
#priority .ui-controlgroup-controls div:last-child .ui-btn.ui-btn-active {
    background-color: #dc2828;
    border-color: #dc2828;
}

div[data-role="footer"] a:last-child,
div[data-role="footer"] button:last-child {
    float: right;
}