/* Commons */
table.full,
table.full th {
    width: 100%;
}

table.full td {
    white-space: nowrap;
}

/* Home page */
div[data-role="footer"] a:first-child,
div[data-role="footer"] button:first-child {
    left: 0.4em;
}

div[data-role="footer"] a:last-child,
div[data-role="footer"] button:last-child {
    float: right;
    right: 0.4em;
}

/* Fast task */
.fast-item .add-btn {
    width: 33px;
}
.select-priority #priority .ui-btn-icon-notext {
    width: auto;
}
.select-priority #priority label.low:after,
.select-priority #priority label.normal:after,
.select-priority #priority label.high:after {
    content: "";
    display: block;
    opacity: 1;
    margin: -9px 0 0 -9px;
}
.select-priority #priority label.ui-radio-on:after {
    width: 18px;
    height: 18px;
    background-color: rgba(0,0,0,.3);
    border-width: 0;
}
.select-priority #priority label.low.ui-radio-on:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%229%2C7%209%2C0%205%2C0%205%2C7%200%2C7%207%2C14%2014%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.select-priority #priority label.normal.ui-radio-on:after {
}
.select-priority #priority label.high.ui-radio-on:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%227%2C0%200%2C7%205%2C7%205%2C14%209%2C14%209%2C7%2014%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* List content */
.task-list .list-item:before {
    display: block;
    content: "";
    height: 45px;
    width: 5px;
    position: absolute;
    z-index: 3;
    border-radius: 5px 0 0 5px;
}
.task-list .list-item.priority-0:before {
    background-color: #3388cc;
}
.task-list .list-item.priority-1:before {
    background-color: #28c828;
}
.task-list .list-item.priority-2:before {
    background-color: #dc2828;
}

.task-list .list-item .ui-checkbox-on {
    text-decoration: line-through !important;
    color: gray;
}

/* Edit page */
table.task-title td:first-child {
    width: 33px;
}

#priority .ui-controlgroup-controls label {
    text-align: center;
}
#priority .ui-controlgroup-controls div:nth-child(2) .ui-btn.ui-btn-active {
    background-color: #28c828;
    border-color: #28c828;
}
#priority .ui-controlgroup-controls div:last-child .ui-btn.ui-btn-active {
    background-color: #dc2828;
    border-color: #dc2828;
}